{% comment %} {% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock css %}

{% block content %}
    <div >
        <div class="login-header">
            <h1>ВХОД В СИСТЕМУ.</h1>
            <p>Используйте эту форму, чтобы войти в систему</p>
        </div>
        <div class="login-form">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p class="login-input"><input type="submit" value="Войти"></p>
            </form>
        </div>
    </div>
{% endblock %} {% endcomment %}