{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock css %}

{% block title %}Смена пароля{% endblock title %}


{% block content %}
    <div >
        <h1 class="login-title">Смена пароля</h1>
        <div class="login-header">
            <p>Пожалуйста, используйте следующую форму для смены пароля:</p>
        </div>
        <div class="login-form">
            <form method="post">
                {{ form.as_p }}
                <p class="login-input"><input type="submit" value="Сменить пароль"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}