
.product_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product_card{
    border: 2px solid rgba(89, 141, 102, 1);
    border-radius: 10px;
    text-align: center;
}

.card_image{
    max-width: 95%;
    margin-top: 10px;
    border-radius: 10px;
}

.product{
    margin: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 80% 20%;
}

.product_image{
    width: 100%;
}

.first_product_image{
    width: 90%;
}

.product_title, .product_price{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: rgb(32, 53, 37);
}

.category-menu{
    text-align: center;
    margin-top: 20px;
}

.category-item{
    display: flex;
    margin: 10px;
}

.category-title{
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(10, 139, 41);
}

.category-title-active{
    padding: 10px;
    font-weight: 700;
}

/* cart */

.cart-title{
    text-align: center;
    margin-block: 20px;
}

.cart{
    background: white;
    text-align: center;
    margin: 0 auto;
}

.cart img{
    width: 90px;
    height: 60px;
}

.cart thead{
    background-color: rgba(89, 141, 102, 1);
    color: white;
    height: 40px;

}

.cart th{
    padding: 10px;
}
.cart td{
    padding: 10px 25px;
}

.cart input{
    background-color: rgba(225, 237, 230, 1);
    height: 25px;
    width: 70px;
    font-size: 14px;
    border-radius: 3px;

}

.cart select{
    height: 25px;
    font-size: 18px;
    margin-right: 10px;

}

.cart_bottom{
    background-color: rgba(225, 237, 230, 1);
}

.cart-submit{
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
}

.cart-submit a{
    display: inline-block;
    margin-inline: 20px;
    padding: 10px;
    background-color: rgba(89, 141, 102, 1);
    color: white;
    border-radius: 5px;
}

.product_item form{
    margin-block: 20px;
    font-size: 20px;
}

.product_item input{
    height: 25px;
    width: 140px;
    background-color: rgba(225, 237, 230, 1);
    border-radius: 5px;
    font-size: 14px;
}

.product_item select{
    height: 25px;
    margin-inline: 20px;
    font-size: 16px;
    padding-left: 5px;
}

.cart-header{
    margin: 0 auto;
    padding: 5px;
    border: 2px solid, rgba(89, 141, 102, 1);
    border-radius: 5px;
    font-size: 20px;
}

.cart-header a{
    background-color: white;
    font-size: 22px;
}