{% extends "base.html" %}
{% load static %}

{% block title %}История{% endblock title %}

{% block content %}
<main class="main">
    <div class="introduction">
        <img src="{% static "romanovs/images/romanovy-fon.jpg" %}" alt="" class="introduction-img">
        <a href="#" class="logo"><img class="introduction-logo-img" src="{% static "romanovs/images/Romanovs_Coat.png" %}" alt=""></a>
        <h3 class="introduction-title">Династия Романовых</h3>

        <p class="introduction-text">Рома́новы — русский боярский род, носивший такую фамилию с конца XVI века. С 1613 года — династия русских царей, с 1721 года — российских императоров.
            Прямая ветвь рода Романовых на всероссийском престоле пресеклась после смерти императрицы Елизаветы Петровны 5 января 1762 года. Согласно её завещанию, титул императора и русский престол унаследовал её племянник — сын царевны Анны Петровны и герцога Карла-Фридриха Гольштейн-Готторпского Карл Петер Ульрих Гольштейн-Готторпский, принявший имя Петра III, которого династический договор признавал членом императорского дома Романовых</p>
    </div>
    <div class="cards">
        {% for tsar in tsars %}
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card card-back">
                        <p class="back-side">{{ tsar.period_of_goverment }}</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="{{ tsar.image.url }}" alt="{{ tsar.name}}" class="card-img">
                        <h4 class="card-title">{{ tsar.name }} {{ tsar.patronymic }}</h4>
                    </div>
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock content %}
