{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/blog_style.css" %}">
{% endblock css %}

{% block title %}{{ post.title }}{% endblock title %}


{% block content %}
<div class="container">
    <div class="post-wrapper">
        <div class="post-large">
            <img src="{{ post.image.url }}" alt="" class="post-large-image">
            <h4 class="post-large-title">{{ post.title }}</h4>
            <p class="post-large-text">
                {{ post.body|linebreaks }}
            </p>
        </div>
        <div class="wrapper-post-small">
            {% for first_post in first_posts %}
            <a href="{{ first_post.get_absolute_url }}" class="small-post-link">
                <div class="post-small">
                    <img src="{{ first_post.image.url }}" alt="" class="post-small-image">
                    <h4 class="post-small-title">{{ first_post.title }}</h4>
                    <p class="post-small-text"> {{first_post.body|truncatechars:50}}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="comments">
            <h4 class="comments-title">Комментарии к посту</h4>
            {% if comments %}
            <p class="comments-count"> всего комментариев: {{ comments.count }}</p>
            {% else %}
            <p class="comments-count"> Комментарии пока отсутствуют</p>
            {% endif %}
            

            <div class="comment">
                {% for comment in comments %}
                    {% if comment.active %}
                    <p class="comment-owner">Комментарий {{ forloop.counter }}, {{ comment.name }}</p>
                    <p class="comment-owner">{{ comment.created }}</p>
                    <p class="comment-body">{{ comment.body }}</p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="comment-form">
            <form action="{% url "blog:comment" post.id %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p class="comment-input"><input type="submit" value="Опубликовать"></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}