{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/blog_style.css" %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="post-wrapper">
        <div class="post-large">
            <img src="{{ post.image.url }}" alt="" class="post-large-image">
            <h4 class="post-large-title">{{ post.title }}</h4>
            <p class="post-large-text">
                {{ post.body|linebreaks }}
            </p>
        </div>
        <div class="wrapper-post-small">
            {% for first_post in first_posts %}
            <a href="{% url "blog:post_detail" first_post.id %}" class="small-post-link">
                <div class="post-small">
                    <img src="{{ first_post.image.url }}" alt="" class="post-small-image">
                    <h4 class="post-small-title">{{ first_post.title }}</h4>
                    <p class="post-small-text"> {{first_post.body|truncatechars:50}}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}