{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/shop_style.css" %}">
{% endblock css %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Магазин
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="category-menu">
        <h2 >SHOP</h2>
        <ul class="category-item">
            <a href="{% url "shop:product_list" %}" class="">
                <li>
                    <p class="category-title"
                    class="category-title">
                        Все категории
                    </p>
                </li>
             </a>
            {% for c in categories %}
            <a href="{{ c.get_absolute_url }}" class="">
                <li>
                    <p {% if category.slug == c.slug %}class="category-title-active"{% endif %} 
                    class="category-title">
                        {{ c.name }}
                    </p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="product_cards">
        {% for product in products %}
                <div class="product_card">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "romanovs/images/no_photo.jpg" %}{% endif %}" alt="" class="card_image">
                    <a href="{{ product.get_absolute_url }}" class="">
                        <h4 class="card_title">{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                        <p>{{ product.description|truncatechars:150}}</p>
                    </a>
                </div>
        {% endfor%}
    </div>
{% endblock content %}