{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/shop_style.css" %}">
{% endblock css %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Магазин
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="category-menu">
        {% if category %}
            <h2 >{{ category.name }}</h2>
        {% else %}
        <h2 >Категории</h2>
        <ul class="category-item">
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="">
                <li>
                    <p class="category-title">{{ category.name }}</p>
                </li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="product_cards">
        {% for product in products %}
                <div class="product_card">
                    <img src="{{ product.image.url }}" alt="{{ product.name}}" class="card_image">
                    <a href="{{ product.get_absolute_url }}" class="">
                        <h4 class="card_title">{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                        <p>{{ product.description|truncatechars:150}}</p>
                    </a>
                </div>
        {% endfor%}
    </div>
{% endblock content %}