{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-inner">
                <a href="#" class="logo"><img class="logo-img" src="{% static "romanovs/images/7-11.png" %}" alt=""></a>
                <h2 class="header-inner-title">Класс 7-11</h2>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a href="{% url "blog:post_list" %}" class="menu__list-link">Блог</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="{% url "romanovs" %}" class="menu__list-link">История</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="{% url "shop:product_list" %}" class="menu__list-link">Магазин</a>
                        </li>

                    </ul>
                <div class="menu__profile">
                    {% if request.user.is_authenticated %}
                    <a href="{% url "logout" %}" class="menu__list-link">Выйти</a>
                    <a href="{% url "edit" %}" class="menu__list-link">
                        {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}" alt="NO PHOTO" class="menu__user_photo">
                        {% else %}
                        <p>{{ request.user.first_name|default:request.user.username }}</p>
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url "login" %}" class="menu__list-link">Войти</a>
                    {% endif %}
                </div>
                </nav>
            </div>

        </header>
{% block header %}
{% endblock header %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <a href="{% url "edit" %}" class="close">x</a>
            {% endfor %}
        </ul>
        {% endif %}
        
        <main class="main">
                    {% block content %}
                    {% endblock content %}
        </main>

        <footer class="footer">
            <div class="footer-logo">+7(900)000-00-00</div>
            <div class="footer-menu">Меню</div>
            <div class="footer-social">лого соцсетей</div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "romanovs/js/main.js" %}"></script> 
</body>

</html>