{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Романовы</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-inner">
                <a href="#" class="logo"><img class="logo-img" src="{% static "romanovs/images/7-11.png" %}" alt=""></a>
                <h2 class="header-inner-title">Класс 7-11</h2>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a href="{% url "blog" %}" class="menu__list-link">Блог</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="{% url "romanovs" %}" class="menu__list-link">История</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="" class="menu__list-link">страница3</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>
        <main class="main">
                    {% block content %}
                    {% endblock content %}
        </main>

        <footer class="footer">
            <div class="footer-logo">+7(900)000-00-00</div>
            <div class="footer-menu">Меню</div>
            <div class="footer-social">лого соцсетей</div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "romanovs/js/main.js" %}"></script> 
</body>

</html>